<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> View Requests</title>
    <link rel="stylesheet" href="style.css">
    <script src='scripts/admin-request.js'> </script>
</head>

<body>
        <div class="header">
                <div class="logo">
                    <div>
                        <img src="Images/wheel-logo.png">
                    </div>
                    <div>
                        <h6>Maintenance Tracker</h6>
                    </div>
                </div>
        
                <div class="menubar">
                    <a href="index.html">Home</a>
                    <a onclick="logout()" href="#">Sign Out</a>
                </div>
            </div>
    <div>
        <div class="request-top-row">
                <div class="text-margin1"><div>Maintenance Tracker Request View</div></div>
                <div class="text-info"><div id="info"> </div></div>
        </div>
        <div class="request-form-font set-margin">
            <div>
                <span>Filter By:</span>
                <select id="requestType">
                    <option value="none">Select Request Type</option>
                    <option value="Repair">Repair</option>
                    <option value="Maintenance">Maintenance</option>
                </select>
                <select id="requestLevel">
                    <option value="none">Select Request Level</option>
                    <option value="Critical">Critical</option>
                    <option value="Minor">Minor</option>
                    <option value="Major">Major</option>
                </select>
                <input type="date" id="requestDate" placeholder="Select date">
                <input type="text" id="requestId" placeholder="Enter Request ID">
                <select id="department">
                    <option value="none">Select Department</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Sales">Sales</option>
                    <option value="Technology">Technology</option>
                    <option value="Human Resource">Human Resource</option>
                </select>
                <input type="submit" onclick="getFilteredRequests()" value="Search">

            </div>
        </div>
        <div class="view-div">
            <table id="requestTable">
                <thead>
                    <tr>
                        <th>Request Type</th>
                        <th>Requested By</th>
                        <th>Description</th>
                        <th>Department</th>
                        <th>Request Level</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Details</th>

                    </tr>
                </thead>

            </table>
        </div>
    </div>
    <div class="request-modal " id="detailsModal">
        <div class="modal-content">
            <span onclick="closeDetailsModal()" class="close">&times;</span>
            <h3>Request Details</h3>
            <hr>
            <div class= "details-div"><div class = "details-column1">Request ID:</div><div id="requestIdDetails" class= "details-column2" >0</div></div>
            <div class= "details-div"><div class = "details-column1">Request Type:</div><div class = "details-column2" id="requestTypeDetails">Request Type</div></div>
            <div class= "details-div"><div class = "details-column1">Request Level:</div><div class = "details-column2" id="requestLevelDetails">Request Level</div></div>
            <div class= "details-div"><div class = "details-column1">Requested By:</div><div class= "details-column2" id="requestedByDetails">User</div></div>
            <div class= "details-div"><div class = "details-column1">Department:</div><div class = "details-column2" id="departmentDetails">Unspecified</div></div>
            <div class= "details-div"><div class = "details-column1">Date:</div><div class = "details-column2" id="requestDateDetails">0000-00-00</div></div>
            <div class= "details-div"><div class = "details-column1">Status:</div><div class = "details-column2" id="requestStatusDetails">Unspecified</div></div>
            <div class= "details-div"><div class = "details-column1">Description:</div><div class = "details-column2" id="descriptionDetails">Request description</div></div>
            <div class= "details-info" id="details-info"></div>
            <div class= "details-div">
            <button onclick="approveRequest()" class="details-btn approve">Approve</button>
            <button onclick="disapproveRequest()" class="details-btn reject">Disapprove</button>
            <button onclick="resolveRequest()" class="details-btn resolve">Resolve</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Maintenance Tracker 2018</p>
    </div>
</body>

</html>