<!doctype html>
<html>

<head>
    <title> View Requests</title>
    <link rel="stylesheet" href="style.css">
    <script src='scripts/admin-request.js'> </script>
</head>

<body><p id="success"></p><p id="fail"></p>
        <div class ="bodymenu">
                <div>
                        <div class="menubar2">
                            <a href="../index.html">Home</a>
                            <a href="signin.html">Sign Out</a>
                        </div>
                  </div> 
        </div>
    <div>
        <div class="request-top-row">
            <div>
                <img src="Images/wheel-review-page.png">
            </div>
            <div class="text-margin1">Maintenance Tracker Request View</div>
        </div>
        <div class="request-form-font set-margin">
            <form>
                <div>
                    <span>Filter By:</span>
                    <select>
                        <option value="Repairs">Repairs</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Critical">Critical</option>
                        <option value="Minor">Minor</option>
                        <option value="Major">Major</option>
                        <option value="Repairs Department">Department</option>
                    </select>
                    <input type="date" placeholder="Select date">
                    <input type="text" placeholder="Enter Request ID">
                    <input type="text" placeholder="Enter Department">
                    <input type="submit" value="Search">

                </div>
            </form>

        </div>
        <div class="view-div">
            <table id="requestTable">
                <tr>
                        <th>Request Type</th>
                        <th>Requested By</th>
                        <th>Description</th>
                        <th>Department</th>
                        <th>Request Level</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Details</th>

                </tr>               
            </table>
        </div>
    </div>

</body>

</html>