<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenace Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <div>
                <img src="Images/wheel-logo.png">
            </div>
            <div>
                <h6>Maintenance Tracker</h6>
            </div>
        </div>

        <div class="menubar">
            <a href="index.html">Home</a>
            <a href="signin.html">Sign In</a>
            <a href="signup.html">Sign Up</a>
        </div>
    </div>

    <div class="landing-body">
        <img src="Images/wheel1.png">
        <h1 class="landing-header">Maintenance Tracker</h1>
        <h3 class="landing-text">Handle Repairs and Replacements with Maintenance Tracker</h3>
        <a href="signup.html">
            <button type="submit" class="landing-btn">Sign Up Now</button>
        </a>
    </div>
    <div class="footer">
        <p>Maintenance Tracker 2018</p>
    </div>
</body>