<!doctype html>
<html>

<head>
    <title>Request Details</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <div class="request-details-top-row">
            <div>
                <img src="Images/wheel-logo.png">
            </div>
            <div class="text-margin2">Maintenance Tracker Request Details</div>
        </div>
        <div class="details-font">
            <table>
                <tr>
                    <td>Request ID:</td>
                    <td>12467</td>
                </tr>
                <tr>
                    <td>Request Type:</td>
                    <td>Repair</td>
                </tr>
                <tr>
                    <td>Requested By:</td>
                    <td>Jane Anaekwe</td>
                </tr>
                <tr>
                    <td>Requester's Email:</td>
                    <td>jane.anaekwe@mail.com</td>
                </tr>
                <tr>
                    <td>Requester's Department:</td>
                    <td>Merchandising</td>
                </tr>
                <tr>
                    <td>Request Description:</td>
                    <td>Request Description</td>
                </tr>
                <tr>
                    <td>Request Date:</td>
                    <td>11-05-2018</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>Pending</td>
                </tr>
            </table>
        </div>
        <div class="button-flex">
            <span>
                <button class="details-btn approve">Approve</button>
            </span>
            <span>
                <button class="details-btn reject">Reject</button>
            </span>
            <span>
                <button class="details-btn resolve">Resolve</button>
            </span>
        </div>
        <div>
        </div>
    </div>
</body>

</html>