<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="signup-body">
            <div class ="bodymenu">
                    <div>
                            <div class="menubar2">
                                <a href="index.html">Home</a>
                                <a href="signin.html">Sign In</a>
                            </div>
                      </div> 
            </div>
        <div class="signup-logo"><div><img src="Images/wheel-signup-in.png"></div><div class="text-margin">Maintenance Tracker</div></div>
            <div class="form-flex">
                <h1>Sign up</h1>
                <h3>Simple, easy to use, Maintenance System</h3>
                <input type="text" id="userFullname" name ="userFullname" placeholder="Full Name*" required>
                <input type="email" id="email" placeholder="Email*" required>
                <select id="department" required>
                    <option>Select Department *</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Sales">Sales</option>
                    <option value="Technology">Technology</option>
                    <option value="Human Resource">Human Resource</option>
                </select>
                <input type="text" id="phonenumber" placeholder="+2348146614527*" required>
                <input type="password" id="password" placeholder="Password*" required>
                <input type="submit" onclick="signup()" value ="Sign Up">
                <p id="fail"></p>
            </div>
    </div>
</body>
<script src='scripts/signup.js'> </script>
</html>