<!doctype html>
<html>

<head>
    <title>Request Details</title>
    <link rel="stylesheet" href="style.css">
    <script src='scripts/user-details.js'> </script>
</head>

<body>
    <div class="bodymenu">
        <div>
            <div class="menubar2">
                <a href="index.html">Home</a>
                <a href="user-request.html">Back</a>
                <a href="signin.html">Sign Out</a>
            </div>
        </div>
    </div>
    <div>
        <div class="request-details-top-row">
            <div>
                <img src="Images/wheel-logo.png">
            </div>
            <div class="text-margin2">Maintenance Tracker Request Details</div>
        </div>
        <div class="details-font">
            <table id="requestDetailsTable">
            </table>
        </div>
        <div class="button-flex">
            <span>
                 <p id="success"></p><p id="fail"></p>
                <button  onclick="updateRequest()" class="update-btn update">Update</button>
            </span>
        </div>
        <div>
        </div>
    </div>
</body>

</html>