.resolve {
    background-color: #4CAF50;
    border-radius: 10px;
} 
.resolve:hover {background-color: #46a049;}

.approve {
    background-color: #08a8dd;
    border-radius: 10px;
} 
.approve:hover {background: #0795c5}

.reject {
    background-color: #ff3b30;
    border-radius: 10px;
} 
.reject:hover {background: #ff251a;}

.details-btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    margin-left:8px;
    margin-top: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.button-flex{
    display: flex;
    justify-content: center;
}

.view-div{
    width: 100%;
    height: 500px;
    overflow-y: auto;
}
.view-div a{
    padding: 3px;
    background-color: #ff3d33; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color: white;
}
.view-div a:hover {
    color:#22c2f7;
}
.view-div table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}

.view-div td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.view-div td{
    font-size:12pt;
    font-weight: 500;
    color:  #404040;
}
.view-div th:nth-child(odd){
   background-color: #ffb6b3;
   color: black;
}
.view-div th:nth-child(even){
    background-color: #84ddfb;
    color: black;  
 }

.view-div tr:nth-child(even) {
    background-color: #dddddd;
}
.request-formlayout-left{
    float: left;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;

}

.request-formlayout-right{
    float: left;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em; 
    
}
.request-form-font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #666;
}
.set-margin{
    margin-top: 2em;
}

.request-form-font select{
    width: 200px;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    margin-bottom: 10px;
    padding: 3px;
}
.request-form-font textarea{
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2px;
}
.request-form-font input[type=date]{
    width: 200px;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    margin-bottom: 10px;
    padding: 3px;
}
.request-form-font input[type=text]{
    width: 200px;
    color:#737373;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 10px;
    padding: 3px;
}
.request-form-font input[type=submit]{
    border: none;
    color: white;
    background-color: #ff554d;
    padding: 6px;
    font-size: 11pt;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.request-top-row{
  background-color:  #22c2f7;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-weight: 900;
  border-radius: 5px;
}

.request-top-row > div {
    text-align: left;
    color: white;
    margin-bottom: 0.1em;
    margin-left:8px;
    padding-top:0.2em;
    padding-bottom:0.1em;
  
  }
  .request-details-top-row {
    background-color:  #22c2f7;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: 900;
    border-radius: 5px;
    margin-left: 10em;
    margin-right: 10em;
}
.request-details-top-row > div {
    text-align: left;
    color: white;
    margin-bottom: 0.1em;
    margin-left:8px;
    padding-top:0.2em;
    padding-bottom:0.1em;
  }
  .details-font{
    display: flex;
    justify-content: center;
    font-size:15pt;
    font-weight: 900;
  }
    
.details-font table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 2.5em;
}

.details-font td:nth-child(odd) {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #404040;
}
.details-font td:nth-child(even) {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #cc0a00;
}

.details-font tr:nth-child(even) {
    background-color: #84ddfb;
}

.signup-body{
    text-align: center;
    background-color: #22c2f7;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100vw;
}
.signup-logo {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.signup-logo > div {
    text-align: center;
    color:  white;
    margin: 10px;
    margin-bottom: 0.1em;
    margin-left:2px;
    padding-top:1em;
  }
  .text-margin{  
      font-size: 20pt;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 900;
  }
  .text-margin1{  
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}
.text-margin2{  
    font-size: 18pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}


.form-flex{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 0.5% 30% 10% 30%;
    padding-top: 1em;
    padding-bottom: 3em; 
    border-radius: 25px;
}
.form-flex input{
    width: 80%;
    padding: 1em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:12pt;
}
.form-flex input[type=submit] {
    background-color: #ff554d;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size:11pt;
}
.form-flex select{
    width: 80%;
    color:#737373;
    border-radius: 25px; padding: 1em;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:11pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-flex h1{
    margin-bottom: -0.1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25pt;
    font-weight: 900;
    color:  #666;
}
.form-flex h3{
    margin-bottom: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:12pt;
    font-weight: 900;
    color:  #666;
}

.menubar {
    display: flex;
    justify-content: flex-end;
    background-color:#ffffff;
    margin-left: 50%;
}
.menubar a {
    color:  #666;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16pt;
    font-weight: 900;
}
.menubar a:hover {
    color:#e60b00;
}
.logo{
    float: left;
    width:50%;
}
.logo h6{
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14pt;
    font-weight: 200;
    margin-top: 0.8em;
    color:  #b30900;
}
.logo img{
    float: left;
    margin-left: 20px;
    margin-right:5px;
}
.landing-body{
    padding-top: 5%;
    padding-bottom: 8%;
    text-align: center;
    background-color: #22c2f7;
    width: 100vw;
}
.landing-header{
    color:white;
    font-size:38pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0.2em;
}
.landing-text{
    color:white;
    font-size:20pt;
    font-weight: 900;
    margin-top: -0.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.landing-btn {
    border: none;
    color: white;
    background-color: #ff554d;
    padding: 14px 28px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    text-align: center;
    color:  #333333;
    font-size:12pt;
    font-weight: 500;
    padding-top: -0.5em; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}